*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
     min-height: 100vh;
     background-color: rgb(0, 0, 0);
}

section{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000 ,#0f0,#000000);
   animation: a 6s linear infinite; 
}
@keyframes a {
    0%{
        transform: translateY(-100%);
    }
    
    100%{
        transform: translateY(100%);
    }
}
section span{
    position: relative;
    display: block; 
      width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    justify-content: center;
    align-items: center;
    background: rgb(48, 47, 47);
    z-index: 2;
 

}
section .signin{
    position: absolute;
    background: rgb(36, 35, 35);
    z-index: 1000;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px black;
}

section .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  gap:40px
}
section .signin .content h2{
    text-transform: uppercase;
    color: rgb(29, 245, 0);
    font-size: 2rem;
}
section .signin .content .form{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 25px;
}
section .signin .content .form .details
{
    position: relative;
width: 100%;

}
section .signin .content .form .details input{
    position: relative;
    width: 100%;
    background: rgb(58, 57, 57);
    border: none;
    outline: none;
 padding: 25px 10px 7.5px;
 border-radius: 4px;
 color: white;
 font-weight: 500;
 font-size: 1rem;
}
section .signin .content .form  .details i{
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #979494;
    transform: 0.7s;
    pointer-events: none;
}
.signin .content .form .details input:focus ~ i,
.signin .content .form .details input:valid ~ i
{
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: aliceblue;
}
.signin .content .form .links {
    position: relative;
    width: 100%;
display: flex;
justify-content: space-between;
}
.signin .content .form .links a{
    color: aliceblue;
    text-decoration: none;
    
}
.signin .content .form .links a:nth-child(2){
    color:rgb(29, 245, 0);
    font-weight:600;
}
.signin .content .form .details input[type="submit"]{
   padding: 10px;
   background: rgb(29, 245, 0);
   color: black;
   font-weight: 600;
   font-size: 1.25rem;
   letter-spacing: 0.05rem;
   cursor: pointer;
}
@media(max-width:900px){
    section span {
        width: calc (10vw - 2px);
        height: calc (10vw - 2px);
}
}@media(max-width:600px){
    section span {
        width: calc (20vw - 2px);
        height: calc (20vw - 2px);
}
}